.jokeFetchError {
    animation: joke-fetch-error ease-out 5s;
}

@keyframes joke-fetch-error {
    0% {
        opacity: 1;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}