.confirmation {
    opacity: 0;
}

.confirmation.animate {
    animation: confirmation-animation ease-in 2.5s;
}

@keyframes confirmation-animation {
    0% {
        opacity: 1;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}