.confirmation {
    opacity: 0;
}

.confirmation.animate {
    animation: confirmation-animation ease-in 2s;
}

@keyframes confirmation-animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}